<th:block th:fragment>

    <div>
        <div class="wrap-pic-w pos-relative">

            <iframe width="320" height="180"
                    src="https://www.youtube.com/embed/DJUvjgYgKIQ"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>


        </div>

        <div class="p-tb-16 p-rl-25 bg3" id="video">

            <h5 class="p-b-5">
                <a href="#" class="f1-m-3 cl0 hov-cl10 trans-03">
                    Billy Kid with a new song.
                </a>
            </h5>

            <span class="cl15">
				<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">Salih</a>
                <span class="f1-s-3 m-rl-3">-</span>
                <span class="f1-s-3">31.05.2020</span>
            </span>
        </div>
    </div>

</th:block>