<th:block th:fragment>
    <li class="right-topbar">
        <a href="#">
            <span class="fab fa-facebook-f"></span>
        </a>

        <a href="#">
            <span class="fab fa-twitter"></span>
        </a>

        <a href="#">
            <span class="fab fa-pinterest-p"></span>
        </a>

        <a href="#">
            <span class="fab fa-vimeo-v"></span>
        </a>

        <a href="#">
            <span class="fab fa-youtube"></span>
        </a>
    </li>
</th:block>