<th:block>
    <li class="flex-wr-sb-s p-b-30">
        <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
            <img src="/images/popular-post-04.jpg" alt="IMG">
        </a>

        <div class="size-w-11">
            <h6 class="p-b-4">
                <a href="{newsId}" class="f1-s-5 cl3 hov-cl10 trans-03">
                    Title
                </a>
            </h6>

            <span class="cl8 txt-center p-b-24">
                <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">Category</a>
                <span class="f1-s-3 m-rl-3">-</span>
                <span class="f1-s-3">Feb 18</span>
            </span>
        </div>
    </li>
</th:block>