<th:block th:fragment>

    <div class="col-sm-6 p-r-25 p-r-15-sr991">

        <div class="m-b-30">
            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                <img src="/images/post-05.jpg" alt="IMG">
            </a>

            <div class="p-t-20">
                <h5 class="p-b-5">
                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                        Title
                    </a>
                </h5>

                <span class="cl8">
					<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">Category</a>
                    <span class="f1-s-3 m-rl-3">-</span>
                    <span class="f1-s-3">Date</span>
                </span>
            </div>
        </div>
    </div>
</th:block>