<th:block th:fragment="addNews(news)">
    <div class="flex-wr-sb-s m-b-30">

        <a th:href="@{/news/{id}(id = ${news.id})}" class="size-w-1 wrap-pic-w hov1 trans-03">
            <img th:src="${news.getImageUrl()}" alt="IMG">
        </a>

        <div class="size-w-2">

            <h5 class="p-b-5">
                <a th:href="@{/news/{id}(id = ${news.id})}" class="f1-s-5 cl3 hov-cl10 trans-03" th:text="${news.getTitle()}">Title</a>
            </h5>

            <span class="cl8">
                <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03" th:text="${news.getCategory().getType()}">Category</a>
                <span class="f1-s-3 m-rl-3">-</span>
                <span class="f1-s-3" th:text="${#temporals.format(news.getDate(),'dd MMM, yyyy HH:mm')}">Date</span>
            </span>

        </div>
    </div>
</th:block>