<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>News{name}</title>
    <th:block th:include="~{fragments/head/head}"/>

</head>
<body class="animsition">

<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <th:block th:include="~{fragments/desktop/headers/desktop-header}"/>

        <!-- Header Mobile -->
        <th:block th:include="~{fragments/mobile/headers/mobile-header}"/>

        <!-- Button show menu -->
        <th:block th:include="~{fragments/buttons/button-show-menu}"/>
    </div>

    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="topbar-mobile">

            <!-- Wheather topbar -->
            <th:block th:include="~{fragments/mobile/topbars/weather-topbar}"/>
            <!-- Wheather topbar -->

            <!-- Topbar -->
            <th:block th:include="~{fragments/mobile/topbars/topbar}"/>
            <!-- Topbar -->

            <!--Social Topbar -->
            <th:block th:include="~{fragments/mobile/topbars/social-networks}"/>
            <!--Social Topbar -->
        </ul>
        <!--Mobile Navbar -->
        <ul class="main-menu-m">
            <th:block th:include="~{fragments/mobile/navbars/mobile-navbar}"/>
        </ul>
    </div>

    <!--  -->
    <div class="wrap-logo container">

        <!-- Logo desktop -->
        <div class="logo">
            <a href="index.html"><img src="images/icons/logo-01.png" alt="LOGO"></a>
        </div>

        <!-- Banner -->
        <div class="banner-header">
            <a href="#"><img src="images/banner-01.jpg" alt="IMG"></a>
        </div>

    </div>

    <!--  -->
    <div class="wrap-main-nav">
        <div class="main-nav">
            <!-- Menu desktop -->
            <nav class="menu-desktop">

                <a class="logo-stick" href="index.html">
                    <img src="images/icons/logo-01.png" alt="LOGO">
                </a>

                <th:block th:include="~{fragments/desktop/navbars/desktop-navbar}"/>

            </nav>
        </div>
    </div>
</header>

<!-- Breadcrumb -->
<div class="container">
    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
				<span class="text-uppercase cl2 p-r-8">Trending Now:</span>

            <th:block th:include="~{fragments/head/trending-news :: trendingNews(${trendingNews})}"/>

        </div>
        <th:block th:include="~{fragments/search/search-headline}"/>
    </div>
</div>

<!-- Content -->
<section class="bg0 p-b-140 p-t-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <!-- Blog Detail -->
                    <div class="p-b-70">
                        <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                            Technology
                        </a>

                        <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                            Nulla non interdum metus non laoreet nisi tellus eget aliquam lorem pellentesqu
                        </h3>

                        <div class="flex-wr-s-s p-b-40">
								<span class="f1-s-3 cl8 m-r-15">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">by John Alvarado</a>
									<span class="m-rl-3">-</span>
									<span>Feb 18</span>
								</span>

                            <span class="f1-s-3 cl8 m-r-15">5239 Views</span>

                            <a href="#" class="f1-s-3 cl8 hov-cl10 trans-03 m-r-15">0 Comment</a>
                        </div>

                        <div class="wrap-pic-max-w p-b-30">
                            <img src="images/blog-list-01.jpg" alt="IMG">
                        </div>

<!--                        <th:block th:each="text1:${text.getText()}">-->
<!--                            <p class="f1-s-11 cl6 p-b-25" th:text="${text1}">T</p>-->
<!--                        </th:block>-->

                                                <p class="f1-s-11 cl6 p-b-25">
                                                    Curabitur volutpat bibendum molestie. Vestibulum ornare gravida semper. Aliquam a dui
                                                    suscipit, fringilla metus id, maximus leo. Vivamus sapien arcu, mollis eu pharetra vitae,
                                                    condimentum in orci. Integer eu sodales dolor. Maecenas elementum arcu eu convallis rhoncus.
                                                    Donec tortor sapien, euismod a faucibus eget, porttitor quis libero.
                                                </p>

                                                <p class="f1-s-11 cl6 p-b-25">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet est vel orci luctus
                                                    sollicitudin. Duis eleifend vestibulum justo, varius semper lacus condimentum dictum. Donec
                                                    pulvinar a magna ut malesuada. In posuere felis diam, vel sodales metus accumsan in. Duis
                                                    viverra dui eu pharetra pellentesque. Donec a eros leo. Quisque sed ligula vitae lorem
                                                    efficitur faucibus. Praesent sit amet imperdiet ante. Nulla id tellus auctor, dictum libero
                                                    a, malesuada nisi. Nulla in porta nibh, id vestibulum ipsum. Praesent dapibus tempus erat
                                                    quis aliquet. Donec ac purus id sapien condimentum feugiat.
                                                </p>

                                                <p class="f1-s-11 cl6 p-b-25">
                                                    Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique
                                                    sit amet suscipit in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget
                                                    eleifend neque blandit. Sed tempor magna sed congue auctor. Mauris eu turpis eget tortor
                                                    ultricies elementum. Phasellus vel placerat orci, a venenatis justo. Phasellus faucibus
                                                    venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis accumsan felis,
                                                    quis vulputate
                                                </p>


                        <!-- Tag -->
                        <div class="flex-s-s p-t-12 p-b-15">
								<span class="f1-s-12 cl5 m-r-8">
									Tags:
								</span>

                            <div class="flex-wr-s-s size-w-0">

                                <a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
                                    Crafts
                                </a>

                            </div>
                        </div>

                        <!-- Share -->
                        <div class="flex-s-s">
								<span class="f1-s-12 cl5 p-t-1 m-r-15">
									Share:
								</span>

                            <div class="flex-wr-s-s size-w-0">
                                <a href="#"
                                   class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                    <i class="fab fa-facebook-f m-r-7"></i>
                                    Facebook
                                </a>

                                <a href="#"
                                   class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                    <i class="fab fa-twitter m-r-7"></i>
                                    Twitter
                                </a>

                                <a href="#"
                                   class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                    <i class="fab fa-google-plus-g m-r-7"></i>
                                    Google+
                                </a>

                                <a href="#"
                                   class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                    <i class="fab fa-pinterest-p m-r-7"></i>
                                    Pinterest
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Leave a comment -->
                    <div>
                        <h4 class="f1-l-4 cl3 p-b-12">
                            Leave a Comment
                        </h4>

                        <p class="f1-s-13 cl8 p-b-40">
                            Your email address will not be published. Required fields are marked *
                        </p>

                        <form>

                            <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text"
                                   name="name" placeholder="Name*">

                            <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text"
                                   name="email" placeholder="Email*">

                            <textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20"
                                      name="msg" placeholder="Comment..."></textarea>


                            <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
                                Post Comment
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-10 col-lg-4 p-b-30">
                <div class="p-l-10 p-rl-0-sr991 p-t-70">
                    <!-- Category -->
                    <div class="p-b-60">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Category
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <li class="how-bor3 p-rl-4">
                                <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                    Fashion
                                </a>
                            </li>

                            <li class="how-bor3 p-rl-4">
                                <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                    Beauty
                                </a>
                            </li>

                            <li class="how-bor3 p-rl-4">
                                <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                    Street Style
                                </a>
                            </li>

                            <li class="how-bor3 p-rl-4">
                                <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                    Life Style
                                </a>
                            </li>

                            <li class="how-bor3 p-rl-4">
                                <a href="#" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                    DIY & Crafts
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Video -->

                    <!-- Video -->

                    <!-- Popular Posts -->
                    <div class="p-b-60">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Popular Post
                            </h3>
                        </div>

                        <ul class="p-t-35">

                            <th:block th:include="fragments/plates/popular-post-100x75"/>
                            <th:block th:include="fragments/plates/popular-post-100x75"/>
                            <th:block th:include="fragments/plates/popular-post-100x75"/>

                        </ul>
                    </div>

                    <!-- Tag -->
                    <div class="p-b-55">
                        <div class="how2 how2-cl4 flex-s-c m-b-30">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Tags
                            </h3>
                        </div>

                        <div class="flex-wr-s-s m-rl--5">
                            <th:block th:include="fragments/tags/tags"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="index.html">
                            <img class="max-s-full" src="images/icons/logo-02.png" alt="LOGO">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl11 p-b-16">
                            Best news!!!
                        </p>

                        <p class="f1-s-1 cl11 p-b-16">
                            Any questions? Call us on (+1) 96 716 6879
                        </p>

                        <th:block th:include="fragments/buttons/social-network-footer"/>

                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Popular Posts
                        </h5>
                    </div>

                    <ul>

                        <!--Popular post plate 80x60 image-->
                        <th:block th:include="fragments/plates/popular-post-plate-80x60"/>
                        <!--Popular post plate 80x60 image-->

                        <!--Popular post plate 80x60 image-->
                        <th:block th:include="fragments/plates/popular-post-plate-80x60"/>
                        <!--Popular post plate 80x60 image-->

                        <!--Popular post plate 80x60 image-->
                        <th:block th:include="fragments/plates/popular-post-plate-80x60"/>
                        <!--Popular post plate 80x60 image-->

                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Category
                        </h5>
                    </div>

                    <ul class="m-t--12">

                        <th:block th:include="fragments/tags/category"/>

                        <th:block th:include="fragments/tags/category"/>

                        <th:block th:include="fragments/tags/category"/>

                        <th:block th:include="fragments/tags/category"/>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018 

					<a href="#" class="f1-s-1 cl10 hov-link1">Colorlib.</a>

					All rights reserved.
				</span>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>