<th:block th:fragment>
    <ul class="main-menu">


        <li class="mega-menu-item">

            <a href="/">Home</a>

        </li>

        <li class="mega-menu-item">

            <a href="#">News</a>

        </li>


        <li class="mega-menu-item">

            <a href="#">Business</a>


        </li>

        <li class="mega-menu-item">

            <a href="#">Travel</a>


        </li>

        <li class="mega-menu-item">

            <a href="#">Life Style</a>

        </li>

        <li>

            <a href="#">Features</a>

        </li>
    </ul>
</th:block>