<th:block th:fragment>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1-1" role="tab">One</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab1-2" role="tab">Two</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab1-3" role="tab">Three</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab1-4" role="tab">Four</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab1-5" role="tab">Five</a>
        </li>

        <li class="nav-item-more dropdown dis-none">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-ellipsis-h"></i>
            </a>

            <ul class="dropdown-menu">

            </ul>
        </li>
    </ul>
</th:block>